.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0%;
  padding: 30px;
  background-color: #abc4ff;
  color: #294a50;
  text-shadow: 1px 1px 1px white;
  height: 100px;
  width: auto;
}
